<div class="main-container">
  <app-sidebar (noteCreated)="onNoteCreated($event)"></app-sidebar>
  <app-board [notes]="createdNotes"></app-board>

  <div class="modal-overlay" *ngIf="showNoteModal" (click)="onModalClosed()">
    <div class="note-modal" [style.background-color]="currentNote?.color" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>Categoría: {{ selectedCategory?.categoryId }}</h3>
      </div>
      
      <textarea 
        class="note-textarea"
        [(ngModel)]="currentNote!.content"
        placeholder="Escribe algo...">
      </textarea>
      
      <div class="actions">
        <button (click)="saveCurrentNote()">Guardar'</button>
        <button class="btn btn-cancel" (click)="onModalClosed()">Cancelar</button>
      </div>
    </div>
  </div>
</div>