<div class="board" #board>
  <div *ngFor="let note of notes" cdkDrag (cdkDragEnded)="onDragEnd($event, board)"
 [cdkDragData]="note" class="note"
       [ngStyle]="{
         'background-color': note.color,
         'top.px': note.top,
         'left.px': note.left
       }">
    <div class="note-category" *ngIf="$any(note)?.categoryId">
      {{ $any(note)?.categoryId }}
    </div>

    <textarea [(ngModel)]="note.content"></textarea>
    <button id="update" *ngIf="isNoteSaved(note)" (click)="updateNote(note)">Editar</button>
    <button id="delete" (click)="deleteNote(note)">Eliminar</button>
  </div>
</div>
